# Python environment
venv
__pycache__

# Dev environment
.vscode
.tox
.python-version
.DS_Store

# Sublime environment
*.sublime-project
*.sublime-workspace

# Build
*.egg-info
dist
build

# User files
user

# Shapefiles
*.dbf
*.prj
*.shp
*.shx
*.iso.xml
*.cpg

# Data files
*.json
*.html
*.csv

# Shh, secrets
census_api_key.txt
