# Python environment
venv
__pycache__

# Dev environment
.vscode
.tox
.python-version

# Build
*.egg-info
dist
build

# User files
user

# Shapefiles
*.dbf
*.prj
*.shp
*.shx
*.iso.xml
*.cpg

# Data files
*.json
*.html
